.card{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px; 
}
.form-group{
    width: 310px;
    position: relative;
    top: 9px;
}
.btn-primary-chat{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    position: relative;
    top: 370px;
}